extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			if !data.prakaras
				h2 Invalid prakara.
			else
				header
					h1= data.prakaras.title
					.row
						.col-sm-10.col-md-6
							if data.prakaras.image.exists
								.image-wrap: img(id="ರಂಗಪೂಜೆ" src='/uploads/images/Poojas/' + data.prakaras.image.filename).img-responsive
					.row
						!= data.prakaras.description

